USE [master]
GO
/****** Object:  Database [QuanLiSinhVien]    Script Date: 17-Mar-23 12:31:39 PM ******/
CREATE DATABASE [QuanLiSinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiSinhVien', FILENAME = N'E:\SQL\MSSQL15.SQLEXPRESS02\MSSQL\DATA\QuanLiSinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLiSinhVien_log', FILENAME = N'E:\SQL\MSSQL15.SQLEXPRESS02\MSSQL\DATA\QuanLiSinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiSinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiSinhVien]
GO
/****** Object:  Table [dbo].[SV]    Script Date: 17-Mar-23 12:31:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SV](
	[MSSV] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LopSH] [nvarchar](max) NULL,
	[Gender] [bit] NOT NULL,
	[NS] [date] NULL,
	[DTB] [float] NULL,
	[Anh] [bit] NOT NULL,
	[HocBa] [bit] NOT NULL,
	[CCCD] [bit] NOT NULL,
 CONSTRAINT [PK_SV] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
